<div class="row animated fadeIn fast">
    <!--  <div class="col-4">
         <div class="card">
             <div class="card-body">
                 <h3>Usuarios</h3>
                 <div class="alert alert-info animated fadeIn fast" *ngIf="usuariosEncontrados.length===0">
                     No se encontraron usuarios con el término buscado 
                 </div>
                 <div class="table-responsive">
                     <table class="table animated fadeIn fast" *ngIf="usuariosEncontrados.length>0">
                         <thead>
                             <tr>
                                 <th>Nombre</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr *ngFor="let usuario of usuariosEncontrados" class="animated fadeIn fast">
                                 <td>{{usuario.nombre}}</td>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div> -->
     <div class="col-6">
         <div class="card">
             <div class="card-body">
                 <h3>Clientes</h3>
                 <div class="alert alert-info animated fadeIn fast" *ngIf="clientesEncontrados.length===0">
                     No se encontraron clientes con el término buscado 
                 </div>
                 <div class="table-responsive">
                     <table class="table animated fadeIn fast" *ngIf="clientesEncontrados.length>0">
                         <thead>
                             <tr>
                                 <th>Nombre</th>
                                 <th class="text-nowrap text-center">Ver trámites</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr *ngFor="let cliente of clientesEncontrados" class="animated fadeIn fast">
                                 <td>{{cliente.nombre_completo}}</td>
                                 <td class="text-nowrap text-center">
                                     <a [routerLink]="['/dashboard/temas/cliente', cliente._id]" data-toggle="tooltip" data-original-title="Edit"> 
                                         <i class="fa fa-eye text-inverse m-r-10"></i> 
                                     </a>
                                 </td>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
 
 
 