<div class="card">
  <div class="card-body">
      <h4 class="card-title">Oferta educativa</h4>
      <div class="table responsive">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Grado</th>
                      <th>Nivel</th>
                      <th>Paralelo</th>
                      <th>Especialidad</th>
                      <th>Jornada</th>
                      <th>Estudiantes</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let oferta of ofertaActiva; index as i">
                      <td>{{i+1}}</td>
                      <td>{{oferta.result.grado_abrev}}</td>
                      <td>{{oferta.result.nivel_abrev}}</td>
                      <td>{{oferta.result.paralelo}}</td>
                      <td>{{oferta.result.especialidad}}</td>
                      <td *ngIf="oferta.result.jornada=='MATUTINA'"><span class="label label-info">Matutina</span> </td>
                      <td *ngIf="oferta.result.jornada=='VESPERTINA'"><span class="label label-danger">Vespertina</span> </td>
                      <td>{{oferta.estudiantes}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>