<div class="row">
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="./assets/images/icon/courses-w.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Cursos</h6>
                        <h2 class="m-t-0 text-white">{{totalCursoMatutina}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="./assets/images/icon/students-w.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Estudiantes</h6>
                        <h2 class="m-t-0 text-white">{{totalEstudiantesMatutina}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="./assets/images/icon/courses-w.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Cursos</h6>
                        <h2 class="m-t-0 text-white">{{totalCursoVespertina}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="./assets/images/icon/students-w.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Estudiantes</h6>
                        <h2 class="m-t-0 text-white">{{totalEstudiantesVespertina}}</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Jornada Matutina {{periodoActivo}}</h4>
                <div class="table responsive">
                    <table class="table color-table table-hover info-table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Grado</th>
                                <th class="text-center">Paralelo</th>
                                <th class="text-center">Estudiantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let oferta of ofertaActivaMatutina; index as i">
                                <td class="text-center">{{i+1}}</td>
                                <td>{{oferta.result.grado_abrev}} {{oferta.result.nivel_abrev}}
                                    <small>
                                        <span *ngIf="oferta.result.especialidad=='INFORMATICA'" class="label label-primary label-rounded">{{oferta.result.especialidad}}</span>
                                        <span *ngIf="oferta.result.especialidad=='CONTABILIDAD'" class="label label-success label-rounded">{{oferta.result.especialidad}}</span>
                                    </small>
                                </td>
                                <td class="text-center">{{oferta.result.paralelo}}</td>
                                <td class="text-center"><span class="label label-info">{{oferta.estudiantes}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>  
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jornada Vespertina {{periodoActivo}}</h4>
                    <div class="table responsive">
                        <table class="table color-table table-hover danger-table">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Grado</th>
                                    <th class="text-center">Paralelo</th>
                                    <th class="text-center">Estudiantes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let oferta of ofertaActivaVespertina; index as i">
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{oferta.result.grado_abrev}} {{oferta.result.nivel_abrev}} 
                                        <small>
                                            <span *ngIf="oferta.result.especialidad=='INFORMATICA'" class="label label-primary label-rounded">{{oferta.result.especialidad}}</span>
                                            <span *ngIf="oferta.result.especialidad=='CONTABILIDAD'" class="label label-success label-rounded">{{oferta.result.especialidad}}</span>
                                        </small>
                                    </td>
                                    <td class="text-center">{{oferta.result.paralelo}}</td>
                                    <td class="text-center"><span class="label label-danger">{{oferta.estudiantes}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>